# Env
.env

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.env.example


# Virtualenv / IDE
venv/
.venv/
.idea/
.vscode/

# Django static/media
staticfiles/
media/

# Celery beat files
celerybeat-schedule*
