# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.envenv/
venv/
ENV/
.venv/
.Python
.idea
.env
.env.example

# Django
db.sqlite3
*.sqlite3
/media/
*.log

# VSCode
.vscode/

# macOS
.DS_Store

# pyenv
.python-version

# virtualenv
venv/
